 .title {
    text-align: center;
}
.upload {
    vertical-align: middle;
    padding-left: 10px;
    padding-bottom: 3px;
}
.upload-button {
    width: 100px;
}
.upload-info {
    background: rgba(255, 255, 255, 0.9);

}
.database-holder {
    padding-top: 0px !important;
    margin-top: 0px !important;
}
html {
    background-image: url("../imgs/upload-background.png");
    background-size: cover;
}
.upload-container {
    padding-top: 50px;
}